*.log
*.pot
*.pyc
__pycache__
media
pip-log.txt 
pip-delete-this-directory.txt 
.mypy_cache/ 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history